.callbox {
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 50vw;
    height: 50vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
  }
  .buttonGreen {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .buttonGreen:hover {
    background-color: #4CAF50;
    color: white;
  }
  .buttonRed {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .buttonRed:hover {
    background-color: #f44336;
    color: white;
  } 